body {
  text-align: center;
  color: #000f08;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body * {
  margin: 0;
  border: 0;
  padding: 0;
}

h1 {
  font-weight: 800;
  font-size: 3.75em;
  margin-bottom: 0.25em;
  margin-left: 400px;
}

h2 {
  font-weight: 700;
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.25em;
}

.subtitulo,
h4,
h5 {
  font-weight: 400;
}

#ubicacion h2 {
  margin: 1em auto;
}

.sweet-brown h3,
.sweet-brown h5 {
  margin-bottom: 0.5em;
}

#eventos h2 {
  margin-bottom: 1em;
}

#eventos h3 {
  margin: 1em auto;
}

.oscuro {
  background: #000f08;
  color: #ffffff;
}

.oscuro a {
  color: #ffffff;
  text-decoration: none;
}

.sweet-brown {
  text-align: left;
  background: #a4452c;
  color: #ffffff;
  padding: 3.125rem;
  white-space: nowrap;
}

.hero-section {
  text-align: right;
  /* background-image: url('../img/bg-hero.png');
  background-repeat: no-repeat;
  background-size: cover; */
  color: #ffffff;
  text-shadow: 0.125em 0.25em 0.125em #707070;
  /* padding: 6.25rem 3.125rem; */
}

.hero-section img {
  width: 100%;
}

#ubicacion p {
  font-size: 22px;
  width: 600px;
  margin: auto;
}

.hero-section h1 {
  position: absolute;
  top: 250px;
  right: 50px;
  margin-left: 700px;
}
.hero-section h2 {
  position: absolute;
  right: 50px;
  top: 420px;
}

section,
footer {
  margin-top: 4.5rem;
}

footer {
  padding: 3.125rem;
}

.centrado {
  width: 75%;
  margin: 0 auto;
}

.charla-speaker,
.charla-texto,
.evento {
  display: inline-block;
}

.charla-speaker {
  width: 25%;
  vertical-align: middle;
}

.charla-texto {
  width: 72.5%;
  vertical-align: middle;
  margin-left: 2.5%;
  white-space: normal;
}

.evento {
  width: 30%;
}

.evento img {
  width: 75%;
}

nav {
  text-align: left;
  padding: 1.25rem 4rem;
  position: fixed;
  width: 100vw;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 0 1em;
  vertical-align: middle;
}

.icono {
  width: 2rem;
}

.icono svg {
  fill: #ffffff;
}

footer i {
  margin: 0 0.25em 0.5em 0.25em;
}

.contenido {
  margin-top: 0px;
  padding: 100px;
  text-align: left;
  width: 1000px;
  margin: auto;
}

.contenido img {
  width: 100%;
  margin: 40px 0px;
}

.contenido p {
  font-size: 25px;
  margin: 25px 0px;
}
